html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#head{
    background-color: #9A8F97;
    color: #343a40;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#profileicon{
    position: relative;
    top: 10px;
    left: 10px;
}

#profileid{
    position: relative;
    top: 10px;
    left: 15px;
    font-size: 30px;
}

#profiledescription{
    position: relative;
    top: 10px;
    left: 15px;
    font-size: 20px;
}

#righthead{
    display: flex;
    justify-content: space-around;
    width: 550px;
}

#Resumeid{
    border-right: 2px solid #CFDBD5;
    height: 25px;
    width: 70px;
    position: relative;
    top: 10px;    
}

#Resumelink{
    text-decoration: none; 
    font-size: 20px;
    color: #343a40; 
}

#Projectsid{
    border-right: 2px solid #CFDBD5;
    height: 25px;
    width: 70px;
    position: relative;
    top: 10px;
}

#Projectlink{
    text-decoration: none;
    font-size: 20px;
    color: #343a40;
}

#Outreachid{
    border-right: 2px solid #CFDBD5;
    height: 25px;
    width: 80px;
    position: relative;
    top: 10px;
}

#Outreachlink{
    text-decoration: none;
    font-size: 20px;
    color: #343a40;
}

#Personalid{
    border-right: 2px solid #CFDBD5;
    height: 25px;
    width: 80px;
    position: relative;
    top: 10px;
}

#Personallink{
    text-decoration: none;
    font-size: 20px;
    color: #343a40;
}

#bodyid{
    background-color: #C3BABA;
    color: #343a40;
    height: 629px;
    position: relative;
}

#imageblock{
    width: 400px;
    position: relative;
    top: 150px;
    left: 250px;
}
#image{
    border-radius: 49%;
    width:300px;
}

#description{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 170px;
    position: relative;
    top: -180px;
    left: 600px;
}

#profilename{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#deschead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#desc{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}

#buttons{
    width: 500px;  
    height: 70px;
    display: flex;
    justify-content: space-between; 
    position: relative;
    top: -150px;
    left: 600px;
}

.button{
    border: 5px solid black;
    border-radius: 49%;
    width: 125px;
    height: 125px;
    text-align: center;
}

.text{
    color: #000;
    position: relative;
    top: 50px;
    font-size: 20px;
}
#Resume{
    background-color: #bada52;
}

a{
    text-decoration: none;
}

#Resume:hover{
    -webkit-box-shadow:0 0 30px #95c200; 
    -moz-box-shadow: 0 0 30px #95c200; 
    box-shadow:0 0 30px #95c200;
}

#Resume:active{
    background-color:burlywood;
}

#Project{
    background-color: #eda200;
}

#Project:hover{
    -webkit-box-shadow:0 0 30px #004bed; 
    -moz-box-shadow: 0 0 30px #004bed; 
    box-shadow:0 0 30px #004bed;
}

#Project:active{
    background-color: #4cb0d2;
}

#Personal{
    background-color: #b39cd1;
}

#Personal:hover{
    -webkit-box-shadow:0 0 30px #1adc6e; 
    -moz-box-shadow: 0 0 30px #1adc6e; 
    box-shadow:0 0 30px #1adc6e;
}

#Personal:active{
    background-color:darkkhaki;
}

#foot{
    background-color: #736f72;
    height: 50px;
    color: #CFDBD5;
    display: flex;
    justify-content: space-around;
}

.info{
    position: relative;
    top: 10px;
    color: #343a40;
}

.infolink{
    position: relative;
    top: -3px;
    text-decoration: none;
    color: #343a40;
}
